// @import 'normalize';

// Colors
$main-bg: #f9f9fb;
$c-module-bg: #eaeef2;
$semantic-blue: #2185d0;

body {
    background-color: $main-bg;
}

.c-common-tasks {
    .button {
        // margin: .5em .5em 0 0;
    }
}

.ui.checkbox.middled {
    margin-top: .75em;
}

.c-search-results .ui.items>.item .meta>a:not(.ui) {
    color: $semantic-blue;
    text-decoration: underline;
}

.c-rmp-explanation {
    cursor: help;
}

.c-rmp-score {
    font-weight: bold;
}

.c-search-results__details.c-search-results__details .grid .column {
    padding-bottom: .5rem;
    padding-top: .5rem;
}